* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 72%;
    justify-content: center;
    width: 33%;
    border-radius: 15px;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35);

}

.container-hero02 {
    background-color: #FFE9BE;
    /* login */
    height: 88.5dvh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.li {
    list-style: none;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    background-color: green;
    height: 100px;
}

.titulo {
    padding-right: 30rem;
    padding-top: 10px;
    color: white;
}

.voltar {
    padding-left: 40px;
    cursor: pointer;
}

.button {
    padding: 15px;
    margin: 10px;
    background-color: red;
    cursor: pointer;
    color: white;
    border-radius: 8px;
}

.botao {
    height: 40px;
    width: 200px;
    color: white;
    font-weight: bold;
    background-color: red;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 10px;

}

.botao2 {
    color: white;
    font-weight: bold;
    margin: 20px auto;
    cursor: pointer;
}

.telefone {
    padding-left: 20px;
    font-size: 30px;
}

input {
    font-size: 25px;
    border: 2px solid rgb(129, 127, 127);
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
}

label {
    padding-left: 15px;
    padding-top: 20px;
    font-size: 30px;
}

.telefone {
    padding-left: 15px;
    margin-top: 23px;
}