* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: Arial, sans-serif;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    height: 130px;
}

.topo h1 {
    padding-top: 10px;
    font-size: 2rem;
    text-align: center;
    color: white;
    padding-left: 40px;
}

.button {
    padding: 15px;
    margin: 15px;
    background-color: red;
    cursor: pointer;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}

.titulorestaurante {
    background-color: green;
    color: white;
}

.posters {
    background-color: white;
}

.logo {
    background-color: green;
    padding-right: 40px;
    max-width: 100%;
    height: 115px;
}

.card-cont {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 95px;
    /*background-color: #FFE9BE; */

}

.card {
    width: 350px;
    height: 400px;
    border: 3px #cccccc solid;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35);
    margin-block: 35px;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}



.card-description {
    margin-block: 20px;
    text-align: justify;
}